<!DOCTYPE html>
<html lang="en">
@model MVCWebServer.Models.User
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BareBones Messaging App </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @{
                        if (Model != null)
                            if (Model.auth)
                            {
                                @using (Html.BeginForm("Landing", "Home"))
                                {
                                    @Html.HiddenFor(x => x.username)
                                    @Html.HiddenFor(x => x.auth)

                                    <input type="submit" value="Home" class="btn-primary" />
                                }


                                // @Html.ActionLink("HomeAUTH", "Index", "Home", new { @class = "navbar-brand" })
                            }

                            else
                            {

                                @using (Html.BeginForm("Index", "Home", new { }))
                                {
                                    @Html.HiddenFor(x => x.username)
                                    @Html.HiddenFor(x => x.auth)

                                    <input type="submit" value="Home" class="btn-primary" />
                                }

                                //@Html.ActionLink("HomeNOT", "Index", "Home", new { @class = "navbar-brand" })
                            }
                    }
                    @{
                        if (Model != null)
                        {
                            if (!Model.auth)
                            {
                                @using (Html.BeginForm("Index", "CreateUser", new { }))
                                {
                                    <input type="submit" value="Create Account" class="btn-primary" />
                                }
                                @using (Html.BeginForm("NewUser", "Login", new { }))
                                {
                                    <input type="submit" value="Login" class="btn-primary" />
                                }


                            }
                            else
                            {
                                @Html.Label("Logged in as: " + Model.username)

                                @using (Html.BeginForm("Index", "AddFriend", new { }))
                                {
                                    @Html.HiddenFor(x => x.username)
                                    @Html.HiddenFor(x => x.auth)

                                    <input type="submit" value="Add Friend" class="btn-primary" />
                                }

                                @using (Html.BeginForm("Index", "SeeFriends", new { }))
                                {
                                    @Html.HiddenFor(x => x.username)
                                    @Html.HiddenFor(x => x.auth)

                                    <input type="submit" value="View Friends" class="btn-primary" />
                                }
                                @using (Html.BeginForm("Index", "Home", new { }))
                                {
                                    <input type="submit" value="Logout" class="btn-primary" />
                                }
                            }
                        }

                    }


                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 Barbones Messaging App - <a asp-area="" asp-controller="Login" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>