@{
    ViewData["Title"] = "NewUser";
}

<h1>Login</h1>

@model MVCWebServer.Models.User

@using (Html.BeginForm("CheckLogin", "Login", FormMethod.Post))
{
<div>
    @Html.Label("Username")
    @Html.TextBoxFor(model => model.username)
    @Html.ValidationMessageFor(model => model.username)
</div>
    <div>

    @Html.LabelFor(m => m.Password)

    @Html.PasswordFor(m => m.Password, new { @class = "col-md-2 control-label" })
</div>

    @Html.ValidationMessageFor(model => model.Password)
    <button type="submit" class="btn-primary">Enter</button>
}
